<% if (item && item instanceof GoodInvests.Models.Notification ) { %>

  <a href="#<%= item.get("url") %>"><%= item.get("text") %></a>
  <button class="read">read</button>
<% } else if (item && item instanceof GoodInvests.Models.Company ) {  %>

  <% if (item.escape("ticker") === "") { %>
    <a class="company" href="#">Loading...</a>
  <% } else { %>
    <a class="company" href="#companies/<%= item.id%>"><%= item.escape("ticker") + ": " + item.escape("name") %></a>
  <% } %>

<%} else {%>

  <a class="user" href="#users/<%= item.id%>"><%= item.escape("first_name") + " " + item.escape("last_name") %></a>

<% } %>
