<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label for="email">Email</label>
<input type="text" id="email" name="user[email]" value="<%= @user.email %>">
<br><br>
<% if !signed_in? %>
  <label for="password">Password</label>
  <input type="password" name="user[password]" value="">
<br><br>
<% end %>
<label for="fname">First Name</label>
<input type="text" id="fname" name="user[first_name]" value="<%= @user.first_name %>">
<br><br>
<label for="lname">Last Name</label>
<input type="text" id="lname" name="user[last_name]" value="<%= @user.last_name %>">
<br><br>
<label for="job_title">Job Title</label>
<input id="job_title" type="text" name="user[job_title]" value="<%= @user.job_title %>">
<br><br>
<label for="description">Self Description</label>
<textarea id="description" name="user[description]"><%= @user.description %></textarea>
<br>
<button><%= commit %></button>
</form>
