<profile class="profile group">
  <div class="relative">
  <ul class="holder">

  </ul>
  </div>
  </div>
  <ul class="company-info">
    <li>
      <strong class="name"> <%= company.escape("name")%> </strong>
    </li>
    <li>
      Ticker: <%= company.escape("ticker")%>
    </li>
    <% var symbol = "";
    var color = "";
    var change = company.escape("change");
    if(change != 0 && change != null ) {
      symbol = change > 0 ? "+" : ""
      color = change < 0 ? "red" : change != 0 ? "green" : "black"
    } %>
    <li class="<%= color %>">
      Price: <% if(company.escape("price") != "") {%>
        <%= company.escape("price")%> (<%= symbol + change %>)
        <% } else {%>
          one moment...
        <% } %>
    </li>
  </ul>

  <div class="company-extras">
    <strong>Rating:</strong>
    <div class="raty"></div>

    <% if (GoodInvests.session.isLoggedIn && company.get("following") == true) { %>
      <button class="unfollow" data-id="<%= company.id %>">Remove from Portfolio</button>
    <% } else if ( GoodInvests.session.isLoggedIn && company.get("following") != "none") { %>
      <button class="follow" data-id="<%= company.id %>">Add to Portfolio</button>
    <% } %>
  </div>
</profile>
