<content class="profile">
<% if ( user.escape("current_user") ) { %>
  <header class="header">
    Profile
  </header>
<% } %>
<div class="relative">
<ul class="holder">

</ul>
</div>
<ul id="profile-items">
  <li>
    <strong class="name"> <%= user.escape("first_name") + " " + user.escape("last_name") %></strong>
  </li>

  <% if ( user.escape("current_user") ) { %>
    <li>
      <strong>Email: </strong><%= user.escape("email") %>
    </li>
  <% } %>

  <li class="edit">
    <strong>Job Title:</strong><span data-type="job_title" class="editable"><%= user.escape("job_title") %></span>
  </li>

  <li class="edit">
    <strong>Description:</strong><span data-type="description" class="editable data"><%= user.escape("description") %></span>
  </li>

  <li>
    <strong>Rating <div class="raty"></div></strong>
  </li>

    <% if ( user.escape("current_user") ) { %>
      <li>
        <form id="img">
          <strong>Upload new Picture</strong>
          <input id="input-picture-file" type="file" name="picture">
          <button id="update-pic">Save</button>
        </form>
      </li>
    <% } %>

  <li class="portfolio">
    <strong>Portfolio</strong>
  </li>

</ul>
</content>

<img class="image" src="<%= user.escape("picture_url") %>" alt="profile" />
